<form name="container-form" method="POST" action="/artists/handle-form-actions" class="mt-4">
    <div>
        <h3>My Artist</h3>
        <a href="/me/trash/artists">Recycle ({{deletedCount}})</a>
        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">
                    Select all
                </label>
            </div>
            <select class="input form-control form-control-sm select-all-checkbox-options" name="actions" required="required">
                <option value="">-- options --</option>
                <option value="delete">Delete</option>
            </select>

            <button class="btn btn-primary btn-sm btn-check-all-submit" disabled="disabled">Apply</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" colspan="2">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col" colspan="2">CreateDate</th>
            </tr>
        </thead>
        <tbody>
            {{#each artists}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input artist-check-items" type="checkbox" name="artistIds[]"
                            value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/artists/{{this._id}}/edit" class="btn btn-success">Edit</a>
                    <a href="" class="btn btn-warning" data-toggle="modal" data-id="{{this._id}}"
                        data-target="#delete-artist-modal">Delete</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">You have not posted any artist yet.
                    <a href="/artists/create">Post artists</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>
{{!-- confirm delete --}}
<div id="delete-artist-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete artist</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-artist" type="button" class="btn btn-danger">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

{{!-- delete hidden form--}}
<form name="delete-artist-form" method="POST"></form>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        var artistId
        var deleteArtistForm = document.forms['delete-artist-form'];
        var btnDeleteArtist = document.getElementById('btn-delete-artist');
    //  var containerForm = document.forms['container-form'];
        var containerForm = $('form[name="container-form"]');
        var checkboxAll = $('#checkbox-all');
        var artistItemCheckbox = $('.artist-check-items');
        var checkAllSubmitBtn = $('.btn-check-all-submit');

        // when dialog confirm clicked (modal)
        $('#delete-artist-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            artistId = button.data('id')
            console.log(artistId);
        });

        // when delete artist btn clicked
        btnDeleteArtist.onclick = function () {
            deleteArtistForm.action = '/artists/' + artistId + '?_method=DELETE';
            deleteArtistForm.submit();
        }
        //checkboxAll.click
        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked');
            artistItemCheckbox.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });
        //when artist Item Checkbox change
        artistItemCheckbox.change(function () {
            var isCheckedAll = artistItemCheckbox.length == $('.artist-check-items:checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        })
        // checkAll submit btn clicked
    //    containerForm.on('submit', function (e) {
    //        var isSubmittable = !checkAllSubmitBtn.hasClass('disabled');
    //        if (!isSubmittable) {
    //            e.preventDefault();
    //       }
    //    })

        // re-render Check All Submit Btn
        function renderCheckAllSubmitBtn() {
            var checkedCount = $('.artist-check-items:checked').length;
            if (checkedCount > 0) {
                checkAllSubmitBtn.attr('disabled', false);
            } else
                checkAllSubmitBtn.attr('disabled', true);
        }

    });
</script>