<div class="mt-4">
    <div>
        <a href="/me/stored/artists">My Artists</a>
        <h3>My Deleted Artist</h3>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col" colspan="2">CreateDate</th>
            </tr>
        </thead>
        <tbody>
            {{#each artists}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="" class="btn btn-success btn-restore" data-id="{{this._id}}">Restore</a>
                    <a href="" class="btn btn-warning" data-toggle="modal" data-id="{{this._id}}"
                        data-target="#delete-artist-modal">Force Delete</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">No artists have been deleted.
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{!-- confirm delete --}}
<div id="delete-artist-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete artist</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-artist" type="button" class="btn btn-danger">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

 <form name="delete-artist-form" method="POST"></form>
 <form name="restore-artist-form" method="POST"></form>


<script>

    document.addEventListener('DOMContentLoaded', function () {
        var artistId
        var deleteArtistForm = document.forms['delete-artist-form'];
        var restoreArtistForm = document.forms['restore-artist-form'];
        var btnDeleteArtist = document.getElementById('btn-delete-artist');
        var restoreBtn = $('.btn-restore') 

        // when dialog confirm clicked (modal)
        $('#delete-artist-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            artistId = button.data('id')
            console.log(artistId);
        });

        // when delete artist btn clicked
        btnDeleteArtist.onclick = function () {
            deleteArtistForm.action = '/artists/' + artistId + '/force?_method=DELETE';
            deleteArtistForm.submit();
        }

        restoreBtn.click(function(e){
            e.preventDefault();
            var artistId = $(this).data('id');
            restoreArtistForm.action = '/artists/' + artistId + '/restore?_method=PATCH';
            restoreArtistForm.submit();
        })
    });
</script>